.cardview {
  a {
    text-decoration: none;
    color: $therd;
  }


  .scrolling {
    opacity: 0;
    position: fixed;
    height: 100px;
    width: 100px;
    top: calc(100% - 100px);
    left: 0px;
    z-index: 2;
  }

  .scrolling1 {
    position: fixed;
    height: 100px;
    width: 100px;
    top: calc(50% - 100px);
    left: 0px;
    z-index: 2;
  }

  .scrolling2 {
    opacity: 0;
    position: fixed;
    height: 100px;
    width: 100px;
    top: calc(100% - 100px);
    right: 0px;
    z-index: 2;
  }

  .scrolling3 {
    opacity: 0;
    position: fixed;
    height: 100px;
    width: 100px;
    top: calc(50% - 100px);
    right: 0px;
    z-index: 2;
  }

  .scrolling4 {
    opacity: 0;
    position: fixed;
    height: 100px;
    width: 100px;
    top: calc(100% - 100px);
    right: 0px;
    z-index: 2;
  }

  .scrolling5 {
    opacity: 0;
    position: fixed;
    height: 100px;
    width: 100px;
    top: calc(100% - 100px);
    left: 0px;
    z-index: 2;
  }

  .cartheight {
    min-height: 60vh;

    .v-table {
      border-radius: 15px;


      th {
        background: $primary;
        color: $secondary ;
      }

      background-color: rgba($secondary, $alpha: 0.5);
      box-shadow: 3px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)),
      0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
      0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
    }

    .v-btn {
      box-shadow: 0 0 0;
      transition: 1s;

      &:hover {

        box-shadow: 3px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));

      }
    }

  }

  .othertitle {
    .bgbox {
      position: relative;
      height: 30vw;
      background: $secondary;

      .v-img__img {
        object-position: center 40%;
      }

      @include sm {
        height: 24vw;
      }

      @include lg {
        height: 20vw;

      }

      .scene {
        position: absolute;
        height: 100%;
        width: 105%;
        overflow: hidden;
        left: -5%;

        @include md {
          height: 105%;
          width: 100%;
        }

        @include lg {
          height: 110%;
        }
      }

      .imgbox {
        width: 110%;
        height: 105%;
      }



    }

    .bgbox2 {
      background: linear-gradient(90deg, white 0 80px, $secondary 80px 100%);

      @include md {
        height: 4vw;
      }

      @include lg {
        background: linear-gradient(90deg, white 0 160px, $secondary 160px 100%);
        height: 5vw;
      }
    }
  }


  .v-btn {
    box-shadow: 0 0 0;
    // transition: 1s;
  }
}