.comproduct {
  .v-row {
    height: 100%;
  }

  .box1 {

    // box-shadow: 5px 5px 10px 5px #30303088;
    transition: box-shadow 1s;
    // transition: 1s;

    &:hover {
      box-shadow: 3px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
    }
  }

  .mySwiper {
    width: 100%;
    height: 100%;
  }


  .swiper-slide {
    height: 350px;
  }

  .title {
    opacity: 0.5;
  }

  .click {
    margin-right: 50px;
  }

}