.footer {
  position: relative;

  color: $therd;
  background: linear-gradient(0deg, rgba($primary , $alpha: 1), transparent), ;

  .v-col {
    display: flex;
    flex-direction: column;
    justify-content: end;

  }

}