.forgerpass {
  background: $secondary;
  height: 100vh;

  .othertitle {
    background: $secondary;

    .bgbox {
      position: relative;
      height: 27vw;

      .v-img__img {
        object-position: center 20%;
      }

      @include md {
        height: 15vw;
        width: 95%;
      }

      @include lg {
        .mainimg {
          height: 100%;
          top: 25px;
        }
      }
    }

    .bgbox2 {
      background: $secondary ;
      height: 0vw;

      @include md {
        height: 4vw;
      }
    }
  }


  .v-btn {
    transition: 1s;
    box-shadow: 0 0 0;
    margin-right: 15px;

    &:hover {

      box-shadow: 3px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));

    }
  }
}