#homelaout {
  .flayoutapbar {
    background-color: $secondary !important;
    color: $therd;
    width: calc(100% - 90px) !important;
    left: 90px !important;
    transition: width 0.5s ease;

    @include lg {
      width: calc(100% - 190px) !important;
      left: 190px !important;
    }
  }


  .v-main {
    @include md {
      background: linear-gradient(180deg, $secondary 0 200px, white 200px 100%);
    }
  }

  .v-toolbar__content {
    height: 65px !important;
    display: inline-block !important;

    .d-flex.align-center {
      height: 100%;
    }

    .v-btn.v-btn--icon.v-theme--light.v-btn--density-default.v-btn--size-default.v-btn--variant-text {
      margin-right: 60px;
      transition: 0.5s;

      &:hover {

        box-shadow: 3px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));

      }
    }

    .homecart {
      margin: 30px;
    }

    @include lg {
      height: 90px !important;
    }
  }

  #logo {
    position: fixed !important;
    z-index: 1000;
    width: 90px;
    transition: width 0.5s ease;

    @include lg {
      width: 190px;
    }
  }
}