.Goodsmile {
  position: relative;
  width: 100vw;
  height: calc(100vh - 64px);
  background: url('@/assets/goodsmilebg.jpg') no-repeat center/cover;

  .logo {
    position: absolute;
    top: 15%;
    width: 200px;
    left: 20px;

    @include md {
      width: 30%;
      left: 10%;
    }

    @include lg {
      width: 20%;
      left: 15%;
    }

    @include xxl {
      width: 15%;
      left: 25%;
    }
  }

  .text {
    position: absolute;
    top: 30%;
    left: 5%;
    padding-left: 50px;
    border-left: 1px solid black;
    text-shadow: 2px 2px 5px white;

    @include md {
      top: 30%;
    }

    @include lg {
      left: 5%;
      text-shadow: 2px 2px 2px #5ee9fc;
    }

    @include xxl {
      left: 5%;
    }
  }


  .footerman4 {
    height: 30px;
    width: 100%;
    text-align: center;
    color: #F2E1D9;
    text-shadow: 0px 0px 10px #000000;
    position: absolute;
    bottom: 0;
  }
}