.bgbox {
  position: relative;
  height: 43vw;
  background: $secondary;

  @include lg {
    .mainimg {
      height: 100%;
      width: 95%;
      top: 25px;
    }
  }
}

.bgbox2 {
  background: linear-gradient(90deg, white 0 80px, $secondary 80px 100%);
  height: 8vw;

  @include lg {
    background: linear-gradient(90deg, white 0 160px, $secondary 160px 100%);
  }
}

.show {
  position: absolute;
  width: 25%;
  height: 50%;
  top: 25%;
  left: 60%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: none;

  @include md {
    display: block;
  }
}


.section01 {
  width: 100%;

  .four {
    position: relative;
    width: 90%;
    margin: 20px auto;
    margin-bottom: 50px;
  }



  .text {
    height: 1000px;
    position: relative;
    overflow: hidden;

    &::after {
      position: absolute;
      content: ' ';
      height: 100%;
      width: 100%;
      background: url('@/assets/photo3.png') no-repeat;
      background-position: 60% top;
      background-size: cover;
    }
  }

  .textimg {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    transform: rotate(-6deg);

  }

  .toroup {
    display: inline-block;
    width: 100%
  }

  .photo3title {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bolder;
    color: $primary;
    transition: 1s;

    &:hover {
      text-shadow: 2px 2px 2px $therd;
    }
  }
}

.section03 {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
  position: relative;

  @include md {
    padding-top: 100px;
    padding-bottom: 30px;
  }

  @include xl {
    padding-top: 140px;
    padding-bottom: 30px;
  }

  @include xxl {
    padding-top: 180px;
    padding-bottom: 50px;
  }

  .eightwidth {
    width: 80%;
    margin: auto;
    position: relative;
  }

  &::before {
    content: ' ';
    position: absolute;
    background-color: $secondary;
    width: 90%;
    top: 120px;
    height: 300px;

    @include sm {
      top: 160px;
      height: 350px;
    }

    @include md {
      top: 200px;
      height: 455px;
    }

    @include lg {
      top: 200px;
      height: 590px;
    }


    @include xl {
      top: 300px;
      height: 660px;
    }

    @include xxl {
      top: 350px;
      height: 860px;
    }

    @include xxxl {
      top: 390px;
      height: 1020px;
    }

    @include xxxxl {
      top: 390px;
      height: 1100px;
    }
  }

  &::after {
    content: ' ';
    position: absolute;
    background: linear-gradient(90deg, $secondary 0 5%, $therd 5% 100%);
    width: 100%;
    bottom: -100px;
    right: 0;
    height: 200px;
    z-index: 0;
  }

  .mySwiper {
    position: absolute;
    width: 30%;
    height: 90%;
    left: 17%;
    top: -70px;
  }

  .swiper-wrapper {
    transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
  }

  .swiper-pagination-bullet-active {
    background-color: $primary;
  }

  .photo {
    // height: 500px
    width: 50%;
    left: 50%;
    z-index: 1;
  }

  .cubetext {
    position: absolute;
    top: 35%;
    right: 8%;

    @include sm {
      top: 40%;
      right: 10%;
    }

    span {
      margin-top: 5px;
      color: $therd;
      font-weight: bolder;
      font-size: 10px;

      @include sm {
        font-size: 20px;
      }
    }
  }

}

.homefooter {
  background: linear-gradient(90deg, $secondary 0 5%, $therd 5% 100%);
  width: 100%;
  height: 100px;

}