.likeview {
  a {
    text-decoration: none;
    color: $therd;
  }

  .othertitle {
    .bgbox {
      position: relative;
      height: 13vw;
      background: $secondary;

      .v-img__img {
        object-position: center 40%;
      }

      @include lg {
        .mainimg {
          height: 100%;
          width: 95%;
          top: 25px;
        }
      }
    }

    .bgbox2 {
      background: linear-gradient(90deg, white 0 80px, $secondary 80px 100%);
      height: 4vw;

      @include lg {
        background: linear-gradient(90deg, white 0 160px, $secondary 160px 100%);
      }
    }
  }
}