.inthislogon {
  background-color: $secondary;
  margin-top: 10px;
  height: 100vh;

  .mainwindow {
    position: relative;
    height: 100%;
  }

  .wida {
    position: relative;
    width: 80%;
    height: 550px;
    margin: auto;
    background: linear-gradient(65deg, rgba($primary , $alpha: 0.5) 25%, transparent 25%),
      linear-gradient(345deg, rgba($primary , $alpha: 0.6) 25%, transparent 25%),
      url('@/assets/york.jpg') center top / cover no-repeat;
    border-radius: 50px;
    color: $secondary;

    .v-form {
      background-color: rgba(255, 255, 255, 0.3) !important;
      backdrop-filter: blur(10px);
      border-radius: 10px;
    }


  }

  .widb {
    position: relative;
    width: 70%;
    top: -30px;
    height: 800px;
    margin: auto;
    background: linear-gradient(65deg, rgba($primary , $alpha: 0.5) 25%, transparent 25%),
      linear-gradient(345deg, rgba($primary , $alpha: 0.6) 25%, transparent 25%),
      url('@/assets/york.jpg') center top / cover no-repeat;
    border-radius: 50px;
    color: $secondary;

    .v-form {
      background-color: rgba(255, 255, 255, 0.3) !important;
      backdrop-filter: blur(10px);
      border-radius: 10px;
    }


  }

  .shadowa {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: ' ';
      position: absolute;
      width: 80%;
      height: 100%;
      background-color: rgba($therd , $alpha: 0.8);
      top: 10%;
      left: 15%;
      z-index: 0;
      border-radius: 50px;
    }
  }


  .shadowb {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: ' ';
      position: absolute;
      width: 70%;
      height: 100%;
      background-color: rgba($therd , $alpha: 0.8);
      top: 5%;
      left: 20%;
      z-index: 0;
      border-radius: 50px;
    }
  }
}

//登入
.logincom {
  text-shadow: 5px 5px 5px $therd;
  font-weight: bolder;


  .v-container {
    height: 100%
  }

  .tableheight {
    height: 100%;
  }

  .v-btn {
    color: $secondary;
    background: transparent;
    box-shadow: 0 0 0 0;
    text-shadow: 3px 3px 3px $therd;
    font-weight: bolder;

    &:hover {
      text-shadow: 0px 0px 0px;

      background: rgba($primary , $alpha: 0.7);
      box-shadow: 2px 2px 2px 2px rgba($therd , $alpha: 0.5);
    }
  }

  @include md {
    .v-btn {
      margin: 0 10px;
    }
  }
}

//註冊
.regicom {
  font-weight: bolder;
  text-shadow: 5px 5px 5px $therd;

  .v-btn {
    color: $secondary;
    background: transparent;
    box-shadow: 0 0 0 0;
    text-shadow: 3px 3px 3px $therd;
    font-weight: bolder;

    &:hover {
      text-shadow: 0px 0px 0px;

      background: rgba($primary , $alpha: 0.7);
      box-shadow: 2px 2px 2px 2px rgba($therd , $alpha: 0.5);
    }
  }

  @include md {
    .v-btn {
      margin: 0 10px;
    }
  }

}

.lidcover {
  height: 100%;
  width: 50%;
  // background-color: rgba($primary , $alpha: 0.5);

  backdrop-filter: 0.8;
  background: url('@/assets/JPdoor.png') no-repeat center/cover;
  background: url('@/assets/JPdoor.png') no-repeat center/cover, rgba($secondary , $alpha: 0.9);
  // url('@/assets/JPDoor.png') no-repeat center/cover;
  backdrop-filter: blur(15px);
  position: absolute;
  z-index: 3;


  .bt1,
  .bt2 {
    position: absolute !important;
    background-color: $secondary !important;
    border: 10px solid #3a1d09;
    height: 200px !important;
    border-radius: 50px !important;
    font-weight: bolder;
  }

  .bt1 {
    right: -35px !important;
  }

  .bt2 {
    left: -35px !important;
  }

  .bt1home,
  .bt2home {
    position: absolute !important;
    background-color: $secondary !important;
    border: 10px solid #3a1d09;
    border-radius: 20px !important;
    font-weight: bolder;
  }


  .bt1home {
    top: calc(50% + 90px);
    right: -23px !important;
  }

  .bt2home {
    top: calc(50% + 90px);
    left: -23px !important;
  }
}