.Mimeyoi {
  position: relative;
  width: 100vw;
  height: calc(100vh - 64px);
  background: url('@/assets/MIMEYObg1.jpg') no-repeat center/cover;

  .logo {
    position: absolute;

    width: 150px;
    left: 20px;
    top: 10%;

    @include md {
      width: 30%;
      left: 10%;

    }

    @include lg {
      width: 20%;
      left: 15%;

    }

    @include xxl {
      width: 12%;
      left: 25%;
      top: 15%;
    }
  }

  .text {
    position: absolute;
    top: 50%;
    left: 5%;
    padding-left: 50px;
    border-left: 1px solid black;
    text-shadow: 2px 2px 5px white;

    @include lg {
      left: 12%;
      text-shadow: 2px 2px 8px #a47fd1;
    }

    @include xxl {
      left: 18%;
    }
  }


  .footer {
    height: 30px;
    text-align: center;
    // margin: 10px 0 20px 0;
    color: #F2E1D9;
    text-shadow: 0px 0px 10px #000000;
    position: absolute;
    bottom: 0;
  }
}