#proviewpage {
  margin-top: 50px;

  .trantext {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 2;
    border-left: 1px solid black;
    padding: 15px 0;
    opacity: 0.7;

    span {
      left: 50px;
      padding-left: 10px;
    }
  }

  .mySwiper {
    height: 1000px;


    &:hover {

      .swiper-button-next:after,
      .swiper-button-prev:after {
        opacity: 1;
      }

      .swiper-pagination {
        background-color: rgba(128, 128, 128, 0.459);
        opacity: 1;
      }
    }

    .swiper-button-next:after,
    .swiper-pagination,
    .swiper-button-prev:after {
      color: $secondary;
      opacity: 0;
      transition: 1s;
    }


  }

  .swiper-wrapper {
    transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
  }

  .animationtable,
  .mainveiw {
    background: transparent;
  }

  .mainveiw {

    td,
    th {
      padding: 20px 0;
      border-bottom: 2px solid white;
    }

    th {
      text-align: center;
      border-right: 2px solid white;
    }
  }


  .txt {
    margin: 12px 0;
  }


  .v-btn {
    box-shadow: none;
    transition: 0.5s;

    &:hover {
      background-color: $secondary !important;
      color: $therd !important;
      box-shadow: 3px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
    }
  }

  .v-btn:nth-child(3) {
    margin: 0 5px;
  }

}



.gastlike {
  height: 390px;
  padding-bottom: 150px;

  .mySwiper {
    margin-top: 50px;
    height: 100%;
    width: 80%;
  }

  .swiper-slide {
    width: 300px;
    height: 88%;
  }

  .swiper-pagination-bullet-active {
    background-color: $primary;
  }


  .link {
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
    border-bottom-left-radius: 5px;


    span {
      font-size: 20px;
      opacity: 0.8;
      display: inline-block;
      padding: 5px 12px;
      border-radius: 10px 10px 0 0;
      transition: 1s;
    }
  }

  &:hover {
    .link {
      span {
        opacity: 1;
      }
    }
  }

}

.otherbtn {
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 15px !important;
  box-shadow: none !important;
  transition: 0.5s !important;

  &:hover {
    background-color: $secondary !important;
    color: $therd !important;
    box-shadow: 0px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
  }

}