#prolaout {

  .appbar {
    color: #B8860B;



    .v-badge__badge.v-theme--light {
      background: $secondary;
      color: #A2071B;
      font-size: 25px;
    }
  }

  .v-btn {
    &:hover {

      box-shadow: 3px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));

    }
  }

}